.vscode/*
dist/*
cmtestrunner.egg-info/PKG-INFO
cmtestrunner.egg-info/SOURCES.txt
cmtestrunner.egg-info/requires.txt
cmtestrunner/__pycache__/*
.DS_Store
cmtestrunner/management/__pycache__/*
cmtestrunner/management/commands/__pycache__/*
